node_modules
backstage/.env
view/articles/images/*
!view/articles/images/.gitkeep
view/category/images/*
!view/category/images/.gitkeep
view/client/images/*
!view/client/images/.gitkeep
view/projects/images/*
!view/projects/images/.gitkeep
view/profile/images/*
!view/profile/images/.gitkeep
!view/profile/images/undraw_profile.svg
backup/*