<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /thinkit/

    RewriteRule ^proyek/([^/]+)$ pages/proyek/show_proyek.php?slug=$1 [L]

    RewriteRule ^proyek$ pages/proyek/proyek.php [L]
</IfModule>